<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="madisonmay.sensordebugger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="madisonmay.sensordebugger.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AccelerometerActivity"></activity>
        <activity android:name="MagneticFieldActivity"></activity>
        <activity android:name="LightActivity"></activity>
        <activity android:name="GravityActivity"></activity>
        <activity android:name="GyroscopeActivity"></activity>
        <activity android:name="SensorSnapshotActivity"></activity>
     </application>

</manifest>
